# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AvaloniaIconPacks.TestApp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jkarger\OneDrive\DevTalks\tests\.idea\.idea.AvaloniaIconPacks.TestApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
