name: Build with .NET Core

on: [push]

jobs:
  publishlinux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
            8.x
            9.x
    - name: Publish with dotnet
      run: dotnet publish ./src/MahApps.IconPacksBrowser.Avalonia.Desktop/MahApps.IconPacksBrowser.Avalonia.Desktop.csproj -r linux-x64 -c Release -f net9.0
    - name: Archive publish artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AvaloniaApp_net60_linux-x64
        path: src/MahApps.IconPacksBrowser.Avalonia.Desktop/bin/Release/net9.0/linux-x64/publish

  publishwin:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
            8.x
            9.x
    - name: Publish with dotnet
      run: dotnet publish ./src/MahApps.IconPacksBrowser.Avalonia.Desktop/MahApps.IconPacksBrowser.Avalonia.Desktop.csproj -r win-x64 -c Release -f net9.0
    - name: Archive publish artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AvaloniaApp_net60_winx64
        path: src/MahApps.IconPacksBrowser.Avalonia.Desktop/bin/Release/net9.0/win-x64/publish

  publishmac:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: | 
            8.x
            9.x
    - name: Publish with dotnet
      run: dotnet publish ./src/MahApps.IconPacksBrowser.Avalonia.Desktop/MahApps.IconPacksBrowser.Avalonia.Desktop.csproj -r osx-x64 -c Release -f net9.0
    - name: Archive publish artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AvaloniaApp_net60_osx
        path: src/MahApps.IconPacksBrowser.Avalonia.Desktop/bin/Release/net9.0/osx-x64/publish